# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Research\variational_bounds_of_mutual_information\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
